{% include 'main/components/header.html' %}
{% load staticfiles %}
{% include 'main/components/hunter-navbar.html' %}
<style>
body {background-color: white;
	  background-image: url({% static 'img/bg-pattern.png' %});}
</style>
<div class="container my-3 h-75">
	<div class="row">
		<div class="col-12" style="background-color: white">
			<h3>Experience</h3>
			<form method="POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="form-group form-row">
					<label class="col-4">Organization Name</label>
					{{ form.name }}
					{{ form.name.errors }}
				</div>
				<div class="form-group form-row">
					<label class="col-4">Experience Type</label>
					{{ form.work_type }}
					{{ form.work_type.errors }}
				</div>
				<div class="form-group form-row">
					<label class="col-4">Position</label>
					{{ form.position }}
					{{ form.position.errors }}
				</div>
				<div class="form-group form-row">
					<label class="col-4">Location</label>
					{{ form.location }}
					{{ form.location.errors }}
				</div>
				<div class="form-group form-row">
					<label class="col-4">Start Date</label>
					{{ form.start_date }}
					{{ form.start_date.errors }}
				</div>
				<div class="form-group form-row">
					<label class="col-4">End Date</label>
					{{ form.end_date }}
					{{ form.end_date.errors }}
				</div>
				<button type="submit" class="btn btn-dark text-light w-100">Submit</button>
			</form>
		</div>
	</div>
</div>
